        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: #f4f4f9;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 15px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .ad-header {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .ad-header img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .ad-header h1 {
            font-size: 18px;
            font-weight: bold;
            color: #0044cc;
            margin: 0;
        }

        .ad-header p {
            font-size: 14px;
            color: #999;
        }

        .ad-title-container {
            display: block;
            margin: 10px 0;
        }

        .ad-title {
            font-size: 18px;
            font-weight: bold;
            color: #0044cc;
            word-wrap: break-word; /* Ermöglicht Zeilenumbruch bei langen Texten */
        }

        .ad-title span {
            display: inline-block;
            margin-right: 0.5em; /* Ein bisschen Platz dazwischen */
            word-wrap: break-word; /* Erlaubt das Umbrechen des Textes bei Bedarf */
        }

        .ad-description-container {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
        }

        .ad-description {
            font-size: 14px;
            color: #555;
        }

        .ad-url {
            font-size: 14px;
            color: #0077cc;
        }

        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #0044cc;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            margin-top: 10px;
        }

        .cta-button:hover {
            background-color: #0033aa;
        }

        /* Button außerhalb der Box */
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        /* Navbar-Stile */
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            color: white;
        }

        /* Logo-Bereich */
        .navbar img {
            height: 40px; /* Logo-Größe anpassen */
            width: auto;
        }

        /* Optionaler Abstand für den Inhalt der Seite */
        .content {
            margin-top: 60px; /* Abstand zur Navbar */
            padding: 20px;
        }
